fotos/
classificadorLBPH.yml
classificadorFisher.yml
classificadorEigen.yml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyBuilder
.pybuilder/
target/